{% extends 'app/base.html' %}
{% load static%}
{% block css %}
{% endblock %}
{% block contenido %}

<body>
    
<!-- CSS only -->

    {% load crispy_forms_tags %}
        <div class="container">

        <div class="col-4 col-12-medium" >
            <div class="container">
                <div class="box feature">
                    <div class=""inner">
                        <h2>Ingreso</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <a href="{% url 'index' %}">volver al home</a>
                            <input class="btn btn-success float-right" type="submit" value="ingresar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

